@import url('https://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here');

* {
    box-sizing: border-box;
}

body{
    font-family: 'lato',sans-serif;
}

html, body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    
 }

h {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.text {
    position: relative;
    font-family: 'lato', sans-serif;
    color: black;
    font-size: 75px;
    top: 10%;
}

.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.panel1 {
    position: relative;
    display:block;
    height: 1080px;
    width: 100%;
    margin: 0;
    text-align: center;
}

.button {
    background-color: transparent;
    border: 2px solid black;
    border-radius: 999px;
    width: 500px;
    color: black;
    padding: 16px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: dimgrey;
    color: white;
}

.posbutton {
    position: relative;
    top: 30%
}

.status {
    position: relative;
    color: green;
    font-size: 24px;
    top: 1em;
}