

*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
    text-decoration: none;
}
.header{
    background-color: #333;
    width: 100%;
    overflow: hidden;
    font-size: 14px;
}
.containerHeader {
    width: 991px;
    margin: 0 auto;
}

ul{
    list-style-type: none;
}

.header a{
    text-decoration: none;
    color: white;
    display: block;
}

li {
    display: block;
}

.container {
    width: 991px;
    margin: 0 auto;
    padding-top: 25px;
    border: 1px solid black;
    margin-top: 10px;
    border-radius: 5px;
    padding-bottom: 50px;
}
.container h3 {
    text-align: center;
    font-size: 50px;
    
}

.container h2 {
    text-align: center;
    color: royalblue;
}

.posbutton {
    text-align: center;
    padding: 10px;
}

.button {
    background-color: transparent;
    display: inline-block;
    margin: 25px auto;
    font-size: 18px;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: solid rgba(16, 116, 231, 0.945) 1px;
    transition-duration: 0.4s;
}

.button:hover {
    cursor: pointer;
    background-color:  rgba(16, 116, 231, 0.945);
    color: white;
}

a {
    border: 0.5px solid white;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 5px 12px;
}

.header a:hover {
    background-color: whitesmoke;
    color: #333;
}

.active {
    background-color: whitesmoke;
}

.containerLib {
    width: 991px;
    margin: 0 auto;
    padding-top: 25px;
    border: 1px solid black;
    margin-top: 10px;
    border-radius: 5px;
    padding-bottom: 50px;
}