.login{
    text-align: center;
    font-family: helvetica;
    position: relative;
    top: 17em;
}
.inputstyle {
    width: 30em;
    color: black;
    padding: 12px 20px;
    border: 2px solid lightgray;
    border-radius: 50px;
    margin: 10px;
    transition-duration: 0.8s;
}
input[type=submit] {
    width:10em;
    padding:12px 20px;
    border: 2px solid black;
    border-radius: 50px;
    margin: 10px;
}
input[type=text]:focus, [type=password]:focus{
    color: black;
    border-color: black;
    outline: none;
}
input:focus::placeholder{
    color: black;
}
input[type=submit]{
    background-color: white;
}
input[type=submit]:hover{
    background-color: dimgray;
    cursor: pointer;
    color: white;
}