@import url('https://fonts.googleapis.com/css?family=Pacifico');

            body{
                font-family: 'helvetica', sans-serif;
            }
            .registration{
                text-align: center;
                font-family: helvetica;
                position: relative;
                
            }
            .inputstyle {
                width: 30em;
                color: black;
                padding: 12px 20px;
                border: 2px solid lightgray;
                border-radius: 50px;
                margin: 10px;
                transition-duration: 0.8s;
                outline: none;
            }
            input[type=submit] {
                width:10em;
                padding:12px 20px;
                border: 2px solid black;
                border-radius: 50px;
                margin: 10px;
                outline: none;
            }
            input[type=text]:focus, [type=password]:focus, [type=email]:focus{
                border-color: black;
                color: black;
                outline: none;
            }
            input:focus::placeholder{
                color: black;
            }
            input[type=submit]{
                background-color: white;
            }
            input[type=submit]:hover{
                background-color: dimgray;
                cursor: pointer;
                color: white;
            }
            
            label {
                font-size: 18px;
                font-family: 'helvetica', sans-serif;
            }